{{ ansible_managed | comment }}
{# LOOP over environment file to make jaeger envonment file #}

{% for name,value in cortex_env_variables.items() %}
{% for named,valued in value.items() %}
{{ named }}={{ valued }}
{% endfor %}
{% endfor %}
