{{ ansible_managed | comment }}

[Unit]
Description=cortex
After=network-online.target
StartLimitInterval=0
StartLimitIntervalSec=0

[Service]
Type=simple
User={{ cortex_system_user }}
Group={{ cortex_system_group }}
ExecStart=/usr/local/bin/cortex
SyslogIdentifier=cortex
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
