{{ ansible_managed | comment }}

[Unit]
Description=cortex service %i
After=network-online.target
StartLimitInterval=0
StartLimitIntervalSec=0

[Service]
Type=simple
User={{ cortex_system_user }}
EnvironmentFile=-{{ cortex_environment_location }}/cortex-%i
Group={{ cortex_system_group }}
ExecReload=/bin/kill -HUP $MAINPID
ExecStart={{ _cortex_binary_install_dir }}/cortex-linux-amd64 -config.file={{ cortex_config_dir }}/cortex-%i.yml
WorkingDirectory={{ cortex_db_dir }}
SyslogIdentifier={{ cortex_system_user }}
LimitNOFILE={{ cortex_limit_nofile }}
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
